<div class="content-wrapper">
  <form [formGroup]="login">
    <div class="middle">
      <div class="image-container">
        <img src="assets/image.jpg" alt="Image">
      </div>
      <div class="example-container">
        <mat-form-field hintLabel="עד 30 אותיות" class="a">
          <mat-label>הכנס שם משתמש</mat-label>
          <input formControlName="userName" matInput #input maxlength="30" placeholder="שם משתמש">
          <mat-hint align="end">{{input.value.length}}/30</mat-hint>
        </mat-form-field>
      </div>
      <br />
      <br />
      <div class="example-container">
        <mat-form-field class="a">
          <mat-label class="b">הכנס סיסמא</mat-label>
          <input formControlName="userPassword" matInput [type]="hide ? 'password' : 'text'">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <span *ngIf="login.controls['userPassword'].invalid && login.controls['userPassword'].touched">נא להזין סיסמא
        מספרות בלבד</span>
      <section>
        <div>
          <button [disabled]="login.invalid" (click)="loginFunc()" class="btn">כניסה</button>
        </div>
      </section>
    </div>
  </form>
</div>
<div class="bottom-page">
</div>